<div id="screenCadastro" class="screen active">
    <h1>Identificação de Sistema</h1>

    <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" id="nomeAluno" placeholder="Digite seu nome completo">
    </div>

    <div class="form-group">
        <label>Instituição / Curso</label>
        <input type="text" id="cursoAluno" placeholder="Ex: Engenharia de Software...">
    </div>

    <div style="display: flex; gap: 10px;">
        <div class="form-group" style="flex: 1;">
            <label>Semestre</label>
            <input type="text" id="semestreAluno" placeholder="Ex: 4º">
        </div>

        <div class="form-group" style="flex: 1;">
            <label>ID Acadêmico</label>
            <input type="text" id="idAluno" placeholder="Ex: 2026001">
        </div>
    </div>

    <button onclick="iniciarDashboard()">Validar e Acessar</button>
</div>